---
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import Layout from '@/layouts/Layout.astro'
import { getPosts } from '@/utils'
import type { Post } from '@/types'
import { PortableText } from 'astro-portabletext'
import { X } from 'lucide-react'

const postsStatus = {
  message: '',
  status: 'loading',
}

let posts = [] as Post[]
try {
  posts = await getPosts()
  postsStatus.message = ''
  postsStatus.status = 'success'
} catch (err) {
  if (err instanceof Error) {
    postsStatus.message = err.message
    postsStatus.status = 'error'
    console.error(err.message)
  }
}
---

<Layout>
  <div class='text-center mt-16'>
    <h1 class='text-2xl'>THE BLOG</h1>
    <sub><em>The experience in a text.</em></sub>
  </div>
  <div>
    <ul class='flex flex-col gap-6'>
      {
        postsStatus.status === 'success' && posts.length > 1 ? (
          posts.map((post) => {
            return (
              <li class=''>
                <a href={'/blog/' + post.slug.current}>
                  <Card>
                    <CardHeader>
                      <CardTitle>{post.title}</CardTitle>
                    </CardHeader>
                    <CardContent>
                      <CardDescription>
                        <PortableText value={post.excerpt!} />
                      </CardDescription>
                    </CardContent>
                  </Card>
                </a>
              </li>
            )
          })
        ) : postsStatus.status === 'loading' ? (
          <p>Loading</p>
        ) : (
          <p>
            Error getting posts. Please kindly <X /> me at{' '}
            <a href='https://twitter.com/anakaagungcorp'>anakagungcorp</a>
          </p>
        )
      }
    </ul>
  </div>
</Layout>
