---
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from '@/components/ui/card'
import Layout from '@/layouts/Layout.astro'
import { getPosts, formatDate } from '@/utils'
import type { Post } from '@/types'
import { PortableText } from 'astro-portabletext'
import { X } from 'lucide-react'

const postsStatus = {
  message: '',
  status: 'loading',
}

let posts = [] as Post[]
try {
  posts = await getPosts()
  postsStatus.message = ''
  postsStatus.status = 'success'
} catch (err) {
  if (err instanceof Error) {
    postsStatus.message = err.message
    postsStatus.status = 'error'
    console.error(err.message)
  }
}
---

<Layout>
  <div style='text-align: center; margin-block: 6.25rem;' class='mt-2 xl:mt-16'>
    <h1 style='font-size: 2rem; line-height: 2.5rem;'>THE BLOG</h1>
    <p><em>The experience in a text.</em></p>
  </div>
  <div>
    <ul style='display: flex; flex-direction: column; gap: 1.5rem;'>
      {
        postsStatus.status === 'success' && posts.length > 1 ? (
          posts.map((post) => {
            return (
              <li>
                <a href={'/blog/' + post.slug.current}>
                  <Card>
                    <CardHeader>
                      <CardTitle className='text-blue-600'>
                        {post.title}
                      </CardTitle>
                      <small>{formatDate(post.publishedAt ?? '')}</small>
                    </CardHeader>
                    <CardContent>
                      <CardDescription>
                        <PortableText value={post.excerpt!} />
                      </CardDescription>
                    </CardContent>
                  </Card>
                </a>
              </li>
            )
          })
        ) : postsStatus.status === 'loading' ? (
          <p>Loading</p>
        ) : (
          <p>
            Error getting posts. Please kindly <X /> me at{' '}
            <a href='https://x.com/anakaagungcorp'>anakagungcorp</a>
          </p>
        )
      }
    </ul>
  </div>
</Layout>
