---
import { Image } from 'astro:assets'
// import { Icon } from 'astro-icon/components'
import { Github, Twitter, Codepen, MonitorDown, Mail } from 'lucide-react'
import logo from '@/assets/images/profile_picture-small.jpg'

import Layout from '@/layouts/Layout.astro'

const subject = encodeURIComponent("Hi Abraham, let's connect!")
---

<Layout>
  <div style='margin-top: 2rem;'>
    <div
      style='display: flex; flex-direction: column; justify-content: center; align-items: center; margin-bottom: 3rem;'
    >
      <div style='margin-bottom: 1.5rem;'>
        <Image
          src={logo}
          alt='my profile picture with gradient background'
          width={150}
          height={150}
          style={{ borderRadius: '99999px' }}
        />
      </div>
      <h1 hidden>Abraham Anak Agung Portfolio</h1>
      <ul style='display: flex; column-gap: 1.5rem; margin-top: 1rem;'>
        <li>
          <a
            href='https://github.com/padunk'
            target='_blank'
            rel='noopener noreferrer'
            title='Github'
          >
            <Github />
          </a>
        </li>
        <li>
          <a
            href='https://x.com/anakagungcorp'
            target='_blank'
            rel='noopener noreferrer'
            title='Twitter'
          >
            <Twitter />
          </a>
        </li>
        <li>
          <a
            href='https://codepen.io/padunk'
            target='_blank'
            rel='noopener noreferrer'
            title='Codepen'
          >
            <Codepen />
          </a>
        </li>
        <!-- <li>
          <a
            href='Resume_AbrahamAgung.pdf'
            download='Resume_AbrahamAgung.pdf'
            title='Download resume'
          >
            <MonitorDown />
          </a>
        </li> -->
        <li>
          <a
            href=`mailto:abraham.anak.agung@gmail.com?subject=${subject}`
            title='Mail me'
          >
            <Mail />
          </a>
        </li>
      </ul>
    </div>
    <div
      style='text-align: justify; margin-bottom: 3rem; line-height: 1.5rem; letter-spacing: 0.025em; max-width: 65ch;'
    >
      <p
        style='font-size: 2rem; line-height: 2.25rem; text-align: center; margin-bottom: 1.5rem; text-align: center;'
      >
        Hey there! <span class='animate-bounce inline-block'>👋🏼</span>, I'm
        Abraham.
      </p>
      <p
        style='margin-top: 1rem; font-size: 1.25rem; line-height: 1.5rem; font-style: italic;'
        class='text-slate-500'
      >
        I'm a remote work enthusiast who loves nothing more than bringing ideas
        to life through the power of code.
      </p>
      <p
        style='margin-top: 1rem; font-size: 1.25rem; line-height: 1.5rem; font-style: italic;'
        class='text-slate-500'
      >
        I'm a passionate remote developer with 5+ years of experience in turning
        ideas into exceptional web and mobile apps. I love leading teams to
        create user-friendly products that exceed expectations. From concept to
        launch, I pour my heart into crafting digital experiences that make a
        difference.
      </p>
      <p
        style='margin-top: 1rem; font-size: 1.25rem; line-height: 1.5rem; font-style: italic;'
        class='text-slate-500'
      >
        Let's
        <a
          href=`mailto:abraham.anak.agung@gmail.com?subject=${subject}`
          title='Mail me'>collaborate</a
        >
        and bring your vision to life!
      </p>
    </div>
  </div>
</Layout>
