---
import { Image } from 'astro:assets'
// import { Icon } from 'astro-icon/components'
import { Github, Twitter, Codepen } from 'lucide-react'
import logo from '@/assets/images/aaa_logo_circle.png'

import Layout from '../layouts/Layout.astro'
---

<Layout>
  <div>
    <div class='flex flex-col justify-center items-center mb-12'>
      <div class='mb-6'>
        <Image
          src={logo}
          alt='abraham anak agung logo'
          width={80}
          height={80}
        />
      </div>
      <h1 class='text-4xl'>Abraham Anak Agung</h1>
      <ul class='flex gap-6 mt-4'>
        <li>
          <a
            href='https://github.com/padunk'
            target='_blank'
            rel='noopener noreferrer'
          >
            <Github />
          </a>
        </li>
        <li>
          <a
            href='https://twitter.com/anakagungcorp'
            target='_blank'
            rel='noopener noreferrer'
          >
            <Twitter />
          </a>
        </li>
        <li>
          <a
            href='https://codepen.io/padunk'
            target='_blank'
            rel='noopener noreferrer'
          >
            <Codepen />
          </a>
        </li>
      </ul>
    </div>
    <div class='text-center leading-6 tracking-wide max-w-prose'>
      <p>
        Web and Native developer with over 5 years of experience. I love
        creating strong web and mobile apps from ideas. Experience leading teams
        in designing efficient ecosystems and user-friendly experiences.
      </p>
    </div>
  </div>
</Layout>
