---
import Layout from '@/layouts/Layout.astro'
import CustomCard from '@/components/CustomCard.tsx'
import columns from '@/data/projects.json'
import ProTip from '@/components/ProTip.tsx'
---

<Layout>
  <div class='text-center mt-16'>
    <h2 class='text-2xl'>THE PROJECTS</h2>
    <sub><em>Becoming indie maker.</em></sub>
  </div>
  <div class='w-full'>
    <ProTip client:load />
    <div
      class='flex gap-6 overflow-x-auto max-w-screen-lg min-w-96 shadow-inner drop-shadow-sm p-6 bg-neutral-100'
    >
      <CustomCard columns={columns} client:load />
    </div>
  </div>
</Layout>
