---
import Layout from '@/layouts/Layout.astro'
import CustomCard from '@/components/CustomCard.tsx'
import columns from '@/data/projects.json'
---

<Layout>
  <div style={{ textAlign: 'center' }} class='mt-2 xl:mt-16'>
    <h2 style={{ fontSize: '1.5rem', lineHeight: '2rem' }}>THE PROJECTS</h2>
    <sub><em>Becoming indie maker.</em></sub>
  </div>
  <div
    style={{
      width: '100%',
      marginTop: '1rem',
    }}
  >
    <small
      style={{
        display: 'block',
        marginBottom: '0.5rem',
        paddingLeft: '0.5rem',
      }}
    >
      <span>Pro tip:</span>
      <span id='pro-tip'>hold `Shift` when scrolling 🤯</span>
    </small>
    <div
      style={{
        display: 'flex',
        columnGap: '1.5rem',
        overflowX: 'auto',
        padding: '1.5rem',
      }}
      class='shadow-inner drop-shadow-sm bg-neutral-100'
    >
      <CustomCard columns={columns} client:load />
    </div>
  </div>

  <script is:inline>
    const regex =
      /Mobi|Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i
    const isMobile = regex.test(window.navigator.userAgent)
    const proTipElement = document.getElementById('pro-tip')

    if (isMobile) {
      proTipElement.textContent = 'scroll left... 🤭'
    } else {
      proTipElement.textContent = 'hold `Shift` when scrolling 🤯'
    }
  </script>
</Layout>
