---
import Layout from '@/layouts/Layout.astro'
import CustomCard from '@/components/CustomCard.tsx'
import columns from '@/data/projects.json'
---

<Layout>
  <div class='text-center mt-16'>
    <h2 class='text-2xl'>THE PROJECTS</h2>
    <sub><em>Becoming indie maker.</em></sub>
  </div>
  <div>
    <small class='mb-2 block pl-2'>
      Pro tip:
      <em>
        Hold
        <code class='bg-neutral-300 px-1 rounded-sm'>Shift</code>
        when scrolling below.
      </em>
    </small>
    <div class='flex gap-6 overflow-x-auto max-w-screen-lg'>
      <CustomCard columns={columns} client:load />
    </div>
  </div>
</Layout>
