---
import Layout from '@/layouts/Layout.astro'
import CustomCard from '@/components/CustomCard.tsx'
import columns from '@/data/projects.json'
---

<Layout>
  <div
    style='text-align: center; margin-bottom: 6.25rem;'
    class='mt-2 xl:mt-16'
  >
    <h2 style='font-size: 1.5rem; line-height: 2rem;'>THE PROJECTS</h2>
    <sub><em>Becoming indie maker.</em></sub>
  </div>
  <div
    style='width: 100%; margin-top: 1rem; display: flex; flex-direction: column; align-items: center;'
  >
    <small style='display: block; margin-bottom: 0.5rem; padding-left: 0.5rem;'>
      <span>Pro tip:</span>
      <span id='pro-tip'>hold `Shift` when scrolling 🤯</span>
    </small>
    <div
      style='display: flex; column-gap: 1.5rem; overflow-x: auto; padding: 1.5rem; width: clamp(240px, 100%, 100%);'
      class='shadow-inner drop-shadow-sm bg-neutral-100'
    >
      <CustomCard columns={columns} client:load />
    </div>
  </div>

  <script is:inline>
    const regex =
      /Mobi|Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i
    const isMobile = regex.test(window.navigator.userAgent)
    const proTipElement = document.getElementById('pro-tip')

    if (isMobile) {
      proTipElement.textContent = 'scroll left... 🤭'
    } else {
      proTipElement.textContent = 'hold `Shift` when scrolling 🤯'
    }
  </script>
</Layout>
