---
import Layout from '@/layouts/Layout.astro'
import CustomCard from '@/components/CustomCard.tsx'
import columns from '@/data/projects.json'
---

<Layout>
  <div style='text-align: center; margin-block: 6.25rem;' class='mt-2 xl:mt-16'>
    <h2 style='font-size: 2rem; line-height: 2.5rem;'>THE PROJECTS</h2>
    <p><em>Becoming indie maker.</em></p>
  </div>
  <div
    style='width: clamp(300px,100%,1280px); display: flex; flex-direction: column; align-items: center;'
    class='p-2 md:p-8 lg:p-12'
  >
    <small
      style='display: block; margin-bottom: 0.5rem; align-self: self-start;'
    >
      <span>Pro tip:</span>
      <span id='pro-tip'>hold `Shift` when scrolling 🤯</span>
    </small>
    <div
      style='display: flex; column-gap: 1.5rem; overflow-x: auto; padding: 1.5rem;'
      class='shadow-inner drop-shadow-md bg-neutral-100 w-80 sm:w-[400px] md:w-[600px] lg:w-[800px] xl:w-auto'
    >
      <CustomCard columns={columns} client:load />
    </div>
  </div>
</Layout>

<script is:inline>
  const regex =
    /Mobi|Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i
  const isMobile = regex.test(window.navigator.userAgent)
  const proTipElement = document.getElementById('pro-tip')

  if (isMobile) {
    proTipElement.textContent = 'scroll left... 🤭'
  } else {
    proTipElement.textContent = 'hold `Shift` when scrolling 🤯'
  }
</script>

<style>
  .project-card-wrapper-blur-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 150px;
    opacity: 60;
    backdrop-filter: blur(10px);
  }
</style>
