---

---

<blockquote
  style='font-size: 0.75rem; line-height: 1rem; font-style: italic; margin-bottom: 1.5rem; border-left-width: 2px;'
  class='border-primary'
>
  <span style='padding-left: 1rem; display: inline-block;'>
    <slot />
  </span>
</blockquote>
