---

---

<blockquote
  style={{
    fontSize: '0.75rem',
    lineHeight: '1rem',
    fontStyle: 'italic',
    marginBottom: '1.5rem',
    borderLeftWidth: '2px',
  }}
  class='border-primary'
>
  <span style={{ paddingLeft: '1rem', display: 'inline-block' }}>
    <slot />
  </span>
</blockquote>
