---
import { Code as ECCode } from 'astro-expressive-code/components'

const { node } = Astro.props
const { code, language } = node
---

<div style={{ marginTop: '1.5rem', marginBottom: '1.5rem' }}>
  <ECCode code={code} lang={language} />
</div>
