---
// const { node } = Astro.props
// console.log('node :>> ', node)
---

<h2
  style='margin-top: 1.5rem; margin-bottom: 0.5rem; font-size: 1.25rem; line-height: 1.75rem;'
  class='text-primary'
>
  <slot />
</h2>
