---
import '@/styles/globals.css'
import { ViewTransitions } from 'astro:transitions'
import MainNav from './MainNav.astro'

interface Props {
  title?: string
}

const { title = 'The man and the heron' } = Astro.props
---

<!doctype html>
<html lang='en' style='min-height: 100dvh;'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Abraham Anak Agung personal website' />
    <meta name='viewport' content='width=device-width' />
    <meta name='author' content='Abraham Anak Agung' />
    <meta
      http-equiv='Content-Security-Policy'
      content="default-src * 'unsafe-inline'; img-src 'self' http://*; style-src 'self' http://* 'unsafe-inline'; script-src-elem 'self' 'unsafe-inline' blob:"
    />
    <meta name='twitter:creator' content='@anakagungcorp' />
    <meta name='twitter:url' content='https://anakagung.com/' />
    <meta name='twitter:site' content='@anakagungcorp' />
    <meta name='twitter:description' content='Web and Native Developer' />
    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' />
    <meta
      property='og:image'
      content='https://res.cloudinary.com/padunk/image/upload/v1611980928/my_portfolio/Screenshot_2021-01-11_11.26_edited_uu9kwi.jpg'
    />
    <meta
      name='twitter:image'
      content='https://res.cloudinary.com/padunk/image/upload/v1611980928/my_portfolio/Screenshot_2021-01-11_11.26_edited_uu9kwi.jpg'
    />
    <meta
      name='twitter:image:src'
      content='https://res.cloudinary.com/padunk/image/upload/v1611980928/my_portfolio/Screenshot_2021-01-11_11.26_edited_uu9kwi.jpg'
    />
    <meta property='og:title' />
    <meta name='og:description' content='Web and Native Developer' />
    <meta name='theme-color' content='#ea2465' />
    <link rel='manifest' href='manifest.json' crossorigin='use-credentials' />
    <link rel='icon' type='image/png' href='favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>

  <ViewTransitions />
  <!-- <script
      src='https://unpkg.com/htmx.org@1.9.10'
      integrity='sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC'
      crossorigin='anonymous'></script>
    -->

  <body id='heron'>
    <div
      style='display: flex; flex-wrap: wrap; width: 100%; min-height: 100dvh;padding-inline: 1rem; position: relative;'
    >
      <MainNav />
      <main
        style='display: flex; align-items: center; justify-content: center; flex-direction: column; column-gap: 6rem; margin-block: 6rem; margin-inline: auto; width: 100%;'
      >
        <slot />
      </main>
    </div>
  </body>
</html>
