---
import { Image } from 'astro:assets'
import logo from '@/assets/images/aaa_logo_circle.png'
const { pathname } = Astro.url
const defaultNavLinkClass = 'text-opacity-100'
---

<header
  style='display: flex; align-items: center; padding: 2rem; max-height: 100dvh; position: absolute; top: 0; left: 0; right: 0;  width: 100%;'
  class='backdrop-blur-md'
>
  <nav
    style='display: flex; flex-direction: row; align-items: center; column-gap: 1.5rem; row-gap: 1.5rem; font-size: 1.25rem; line-height: 1.75rem;'
  >
    <a href='/'>
      <Image src={logo} alt='abraham anak agung logo' width={45} height={45} />
    </a>
    <a
      data-astro-prefetch='load'
      href='/blog'
      class:list={[
        defaultNavLinkClass,
        {
          'text-primary': pathname.includes('/blog'),
        },
      ]}
    >
      Blog
    </a>
    <a
      data-astro-prefetch='hover'
      href='/projects'
      class:list={[
        defaultNavLinkClass,
        {
          'text-primary': pathname.includes('/projects'),
        },
      ]}
    >
      Projects
    </a>
    <!-- <a
      href='/wander'
      class:list={[
        defaultNavLinkClass,
        {
          'text-primary': pathname.includes('/wander'),
        },
      ]}
    >
      Wander
    </a> -->
  </nav>
</header>
