---
import { Image } from 'astro:assets'
import logo from '@/assets/images/aaa_logo_circle.png'
const { pathname } = Astro.url
const defaultNavLinkClass = 'text-opacity-70 hover:text-opacity-100'
---

<header
  style={{
    display: 'flex',
    alignItems: 'center',
    padding: '1.5rem',
    maxHeight: '100dvh',
  }}
>
  <nav
    style={{
      display: 'flex',
      flexDirection: 'column',
      columnGap: '1.5rem',
      rowGap: '1.5rem',
      fontSize: '1.25rem',
      lineHeight: '1.75rem',
    }}
  >
    <a href='/'>
      <Image src={logo} alt='abraham anak agung logo' width={30} height={30} />
    </a>
    <a
      href='/blog'
      class:list={[
        defaultNavLinkClass,
        {
          'text-primary': pathname.includes('/blog'),
        },
      ]}
    >
      Blog
    </a>
    <a
      href='/projects'
      class:list={[
        defaultNavLinkClass,
        {
          'text-primary': pathname.includes('/projects'),
        },
      ]}
    >
      Projects
    </a>
    <!-- <a
      href='/wander'
      class:list={[
        defaultNavLinkClass,
        {
          'text-primary': pathname.includes('/wander'),
        },
      ]}
    >
      Wander
    </a> -->
  </nav>
</header>
